# Windows image file cache of shit
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Customized
/nbproject/private/
/nbproject/
/data/
/web/uploads/**
/web/rfmthumbs/**
/web/rfmimages/**

!/web/uploads/.gitkeep
!/web/uploads/images/post/.gitkeep
!/web/uploads/images/user/.gitkeep

!/web/rfmthumbs/.gitkeep

!/web/rfmimages/.gitkeep

# Composer vendor folder (and exceptions)
/vendor/**
